{{#section 'head'}}
    <link rel="stylesheet" href="/public/styles/error.css">
{{/section}}
<header>
    <h1 class="title">{{title}}</h1>
</header>
<section>
    <div class="error">
        {{error}}
    </div>
</section>
